.main-category-section {
  .category-title {
    @extend %theme-strike;

    &.small {
      a {
        font-size: 1.575rem;
      }
    }

    a {
      @extend %theme-bg;
      color: $white;
      padding: 3px 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
}
