#map {
  height: 400px;
  width: 100%;
  margin-top: -3em;
}

.custom-icon {
  border-radius: 50%;
  border: 2px solid #fff;
}

.member {
  display: flex;

  .avatar {
    display: block;
    content: '';
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid #9c0000;
  }

  .name {
    font-size: 1.2rem;
    margin: 0;
  }

  .meta {
    span:not(:last-child) {
      margin-right: 20px;
      position: relative;
      display: inline-block;

      &::after{
        position: absolute;
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        right: -11px;
        top: calc(50% - 2px);
        background-color: $brand;
      }
    }
  }
}



.member.meta {
  
}