.main-footer {
  .social-links {
    display: flex;

    .social-link {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      margin-right: 7px;
      text-decoration: none;
    }

    .fa {
      font-size: 1.5em;
      color: $brand;
    }
  }
}


.main-footer.desktop {
  @media (min-width: 991.99px) {
    display: flex;
  }

  padding: 3em 0;
  display: none;
  align-items: center;
  background-color: $brand;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: inherit;
    }
  }

  .label {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 200;
  }

  .social-links {
    display: flex;

    .social-link {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      margin-right: 7px;
      text-decoration: none;
    }

    .fa {
      font-size: 1.5em;
      color: $brand;
    }
  }
}

.main-footer.mobile {
  @media (max-width: 991.98px) {
    display: block;
  }

  display: none;

  .nav-mobile {
    display: flex;
    flex-direction: column;

    .social-links {
      justify-content: space-evenly;
      background-color: white;
      font-size: 1.7em;
      padding: 10px;

      .social-link {
        height: 55px;
        width: 55px;
      }
    }

    a:not(.social-link) {
      color: black;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 10px;
      color: $white;
      background-color: $brand;
      margin-bottom: -1px;

      &::before, &::after {
        display: block;
        content: '';
        height: 6px;
        width: 6px;
        background-color: $white;
        top: calc(50% - 3px);
        transform: rotate(45deg);
        position: absolute;
      }

      &::before {
        left: 20px;
      }

      &::after {
        right: 20px;
      }
    }
  }
}
