.jssocial.desktop {
  display: none;
  transition: all 300ms ease;
  position: sticky;
  top: 0;

  .jssocials-shares {
    &.hidden {
      animation: fadeOut 300ms ease;
      opacity: 0;
    }
  }

  .jssocials-share {
    @media (min-width: 1000px) {
      display: flex;
    }

    @media (max-width: 999px) {
      display: none;
    }

    .jssocials-share-link {
      width: 40px;
      height: 40px;
      line-height: 37px;
      border: 1px none;
      font-size: 1.1rem;
      margin-bottom: 10px;
      padding: 0;
    }
  }
}

.jssocial.mobile {
  @media (min-width: 1000px) {
    display: none;
  }

  @media (max-width: 999px) {
    display: flex;
  }

  .jssocials-shares {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .jssocials-share-link {
      border: 0;
      font-size: 1.6rem;
    }
  }
}
