.empty-result {
  color: $brand;
  font-style: italic;
  font-size: 1.3rem;
}

.book {

  .tipo {
    font-size: 14px;
    background-color: $brand;
    padding: 5px 10px;
    color: #fff;
    padding: 3px 7px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &:not(.news-show) {
    .title {
      font-size: 24px;
      text-decoration: underline;
      font-style: italic;
    }
    .meta.bottom {
      color: #505050;
  
      span:not(:last-child) {
        margin-right: 20px;
        position: relative;
  
        &::after{
          position: absolute;
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          right: -8px;
          top: calc(50% - 2px);
          background-color: $brand;
        }
      }
    }
  }


  a {
    color: inherit;
  }
}

.filter {
  padding: 20px;

  .title {
    position: absolute;
    top: -24px;
    font-size: 24px;
    background-color: white;
    padding: 0 10px;
    left: calc(50% - 66px);
    font-weight: 700;
    text-transform: uppercase;
  }

  .form-group {
    label {
      margin-bottom: 0;
      font-weight: 700;
    }

    .form-control:not([type=range]) {
      font-style: italic;
      border-width: 0 0 2px 0;
      border-color: $brand;
      border-radius: 0;
      padding: 0;

      &:focus {
        outline: none;
        box-shadow: initial;
      }
    }
  }
}

.books {
  text-align: center;
  // border: 3px solid $brand;
  // padding: 1.5em;
}

.bordered-section {
  border: 2px solid #9c0000;
  padding: 2.5em 1.5em;
  position: relative;

  .section-title-wrapper {
    margin:0;
    position: absolute;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    left: 0;
    top: -.7em;
  }

  .section-title {
    background-color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 10px;
  }
}