.menu.desktop {
  display: flex;
  justify-content: space-around;
  padding: 12px 10px;

  a {
    color: black;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      &::before {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        width: 6px;
        top: calc(50% - 3px);
        height: 6px;
        background-color: #9c0000;
        z-index: 99;
  
        transform: rotate(45deg)
      }
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      width: 6px;
      top: calc(50% - 3px);
      height: 6px;
      background-color: $brand;
      z-index: 99;
      transform: rotate(45deg)
    }
  }  


}

.menu.mobile {

  &.show {
    display: flex;
    animation: menuIn .2s cubic-bezier(.4,0,.2,1);
  }

  display: none;
  flex-direction: column;

  a {
    color: black;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 10px;
    color: $white;
    background-color: $brand;
    margin-bottom: -1px;

    &::before, &::after {
      display: block;
      content: '';
      height: 6px;
      width: 6px;
      background-color: $white;
      top: calc(50% - 3px);
      transform: rotate(45deg);
      position: absolute;
    }

    &::before {
      left: 20px;
    }

    &::after {
      right: 20px;
    }
  }
}

.menu-trigger {
  display: none;
  font-size: 2rem;
  color: $brand;

  &:hover, &:active {
    color: $brand;
  }

  @media (max-width: 991.98px) {
    display: block;
  }
}

@keyframes menuIn {
  0% {
    transform: translateY(-101%);
  }

  100% {
    transform: translateY(0);
  }
}