.story {
  .meta {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .video {
    height: auto;
  }

  .meta {
    @media (max-width: 767.98px) {
      font-size: 16px;
    }

    font-style: italic;
    font-size: smaller;
    margin: 5px 0;

    a:not(.jssocials-share-link) {
      @extend %theme-link;
    }
  }

  .title {
    @media (max-width: 767.98px) {
      font-size: 1.8rem;
      font-weight: 700;
    }

    line-height: 1.2;
    font-size: 1.4rem;
  }

  .category {
    &::after, &::before {
      display: none;
    }
  }
}

.highlights .story {
  .title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .video {
    height: 300px !important;
  }

  .meta {
    font-size: 16px;
  }
}