.tag-cloud-container {

  .tags-cloud {
    text-align: center;
    padding: 20px;
    font-style: italic;
    background-color: #f8f9fa;

    .tag-link {
      word-break: break-word;
      padding: 0 5px;
    }
  }

  .title {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
  }

}