
%theme-link {
  text-decoration: none;
  position: relative;
  box-shadow: inset 0px -3px 0px #9c0000;
  line-height: 1;
  background-color: transparent;

  &:hover {
    background-color: #9c0000;
    color: white !important;
    text-decoration: none;
  }
}

%theme-bg {
  background-color: $brand;
  color: $white;
}

%theme-strike {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after, &::before {
    content: '';
    border-top: 3px solid $brand;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &::after {
    margin: 0 0 0 20px;
  }
}

%theme-strike-right {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: '';
    border-top: 3px solid $brand;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &::after {
    margin: 0 0 0 20px;
  }
}

%theme-strike-left {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after {
    content: '';
    border-top: 3px solid $brand;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &::after {
    margin: 0 0 0 20px;
  }
}

