// Theme
$brand: #9c0000;

// Body
$body-bg: #ffffff;
$body-color: #303030;
$link-color: $body-color !default;

// Typography
$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

// Pagination
$pagination-active-bg: $brand;

// Colors
$white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #ccc;



$gray: (
  ultra-light: #e5e5e5,
  text: #4B4B4B,
  light-border: #EAEAEA,
  bg-body: #F1F1F1,
  slot: #D8D8D8,
  link: #9A9A9A,
);