.news-show {

  .title {
    font-weight: 800;
    text-align: center;
  }

  .subtitle {
    font-weight: 800;
  }

  .category {
    margin-bottom: 1em;
    text-align: center;
    @extend %theme-strike;

    a {
      padding: 3px 7px;
      text-decoration: none;
      text-transform: uppercase;
      @extend %theme-bg;
    }
  }

  .img-wrapper {
    width: 800px;
    height: 400px;
    position: relative;
    margin: 1em -113px 3em;
    overflow: hidden;

    @media (max-width: 800px) {
      width: 100%;
      margin: 1em 0 3em 0;
      height: auto;
    }

    .img-highlight {
      width: 100%;
    }
  }

  &.book {
    .meta {
      width: initial;
      margin: 0;
    }
  }

  .meta {
    font-style: italic;
    font-size: smaller;
    display: flex;
    margin-bottom: 5em;

    &.overflow {
      margin-bottom: 2em;
      width: 800px;
      max-width: 800px;
      margin: 2em -113px 1em -113px;
    }

    a:not(.jssocials-share-link) {
      @extend %theme-link;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin: 1em 0;

      &.overflow {
        margin: 0;
        width: 100%;
      }
    }

    .author {
      flex: 1;
      text-align: right;
    }

    .published_at {
      flex: 1;
    }
  }

  .body {
    font-size: 1.3em;

    a:not(.jssocials-share-link) {
      // margin: 0 6px;
      // display: inline-block;
      color: inherit !important;
      @extend %theme-link;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p img {
      width: 100%;
      height: auto;
    }
  }


}

.tags {
  .label {
    @extend %theme-strike-left;
  }

  .tags-list {

    .tag {
      display: inline-block;
      margin: 0 10px 10px 0;

      a {
        padding: 5px 15px;
        display: inline-block;
        background-color: $brand;
        color: $white;
      }
    }
  }
}

.more {
  .label {
    @extend %theme-strike-left;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}