.topbar {
  height: 90px;
  position: fixed;
  top: 0;
  padding: 1em 2em;
  border-bottom: 1px solid map-get($gray, 'ultra-light');
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999;
  background-color: #fff;

  .left, .center, .right {
    flex: 1;
  }

  .search-form {
    display: none;
    position: relative;
    margin-right: 20px;

    @media (min-width: 992px) {
      display: flex;
    }

    .query {
      padding: 0 40px 0 10px;
      z-index: 1;
      width: 190px;
      height: 35px;
      border: 1px solid map-get($gray, 'ultra-light');
    }

    .submit {
      cursor: pointer;
      z-index: 2;
      position: absolute;
      right: 0;
      width: 40px;
      height: 35px;
      border: 0;
      // outline: 0;
      background-image: url('/images/search.png');
      background-repeat: no-repeat;
      background-size: 14px;
      background-color: transparent;
      background-position: center;
    }
  }

  .social-link {
    display: none;
    font-size: 1.3rem;

    @media (min-width: 992px) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
      opacity: .8;
    }

    img {
      width: 26px;
    }
  }

  .left {
    display: flex;
    align-items: center;

    a {
      &:not(.menu-trigger) {
        display: none;
        margin-right: 1em;

        @media (min-width: 992px) {
          display: inline-block;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: 992px) {
      // display: flex;
    }
  }

  .center {
    text-align: center;
  }

  .logo {
    width: 90px;
    height: auto;
  }
}